.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;
    background: white;
    align-items: center;
}

.nav-esquerda a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.nav-direita a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}


.footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #555;
    font-size: 14px;
    border-top: 1px solid #ddd;
}
